@model Mission8_Team0105.Models.Task


<div>
    <h1>Add/Edit</h1>
    <form method="post">

        <input type="hidden" asp-for="TaskId" />


        <div> 
            <label asp-for="TaskName">Task:</label>
            <input asp-for="TaskName" />
        </div>

        <div>
            <label asp-for="DueDate">Due Date:</label>
            <input asp-for="DueDate" />
        </div>

        <div>
            <label asp-for="Quadrant">Quadrant:</label>  
            <select asp-for="Quadrant">
                <option value="">Choose...</option>
                <option>Urgent + Important</option>
                <option>Not Urgent + Important</option>
                <option>Urgent + Not Important</option>
                <option>Not Urgent + Not Important</option>
            </select>
        </div>

        <div>
            <label asp-for="Category">Category:</label>
            <select asp-for="CategoryID">
                <option value="">Select a Catetory</option>
                @foreach (Category m in ViewBag.Categories)
                {
                    <option value="@m.CategoryID">@m.CategoryName</option>
                }
            </select>
        </div>


        <div>
            <label asp-for="Completed">Completed?</label>
            <select asp-for="Completed">
                <option value="True">Yes</option>
                <option value="False">No</option>
            </select>
        </div>

        <button type="submit" class="btn-primary">Add</button>

    </form>
</div>