@model List<Mission8_Team0105.Models.Task>


<style>
    .container {
        background-color: #ffe6cc; 
        border: 1px solid #f39c12; 
        padding: 15px; 
        margin-top: 20px; 
    }

    .quadrant {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
    }

    .quadrant-label {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    
    .row .quadrant {
        border: 1px solid #ddd; 
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="quadrant-label">Quadrant 1</div>
            @foreach (var task in Model.Where(t => t.Quadrant == 1))
            {
                <div class="quadrant">
                    @task.TaskName
                </div>
            }
        </div>
        <div class="col-md-3">
            <div class="quadrant-label">Quadrant 2</div>
            @foreach (var task in Model.Where(t => t.Quadrant == 2))
            {
                <div class="quadrant">
                    @task.TaskName
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="quadrant-label">Quadrant 3</div>
            @foreach (var task in Model.Where(t => t.Quadrant == 3))
            {
                <div class="quadrant">
                    @task.TaskName
                </div>
            }
        </div>
        <div class="col-md-3">
            <div class="quadrant-label">Quadrant 4</div>
            @foreach (var task in Model.Where(t => t.Quadrant == 4))
            {
                <div class="quadrant">
                    @task.TaskName
                </div>
            }
        </div>
    </div>
</div>
